$text-color: rgb(56, 62, 145);
$size: 2rem;
$primary-color: rgb(209, 161, 209);
$second-color: rgb(108, 135, 144);
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$mycolors: (
  "yellow": yellow,
  "orange": rgb(156, 114, 35),
  "red": rgb(239, 95, 95),
);